html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
body {
    margin: 0;
}
ul {
    display: inline-flex;
    gap: 20px;
}
button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 20px;
}
a {
    color: inherit;
    text-decoration: none;
}
h1, h4 {
    text-align: center;
}
h1 {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
}
h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 40px 0;
}
.hero {
    background-image: url(img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-top: 40px;
    overflow: auto;
}
.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner {
    width: 100%;
    display: flex;
    align-content: center;
    margin-bottom: 150px;
    position: sticky;
}
.home-link {
    display: flex;
    align-items: center;
}
.navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navigation .nav-links {
    display: flex;
    gap: 20px;
}
.nav-buttons {
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.icon {
    width: 16px;
    height: 16px;
}
.main-content {
    max-width: 570px;
}
.cta {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    gap: 20px;
}
.quote {
    padding: 10px 35px;
    line-height: 26px;
    border-radius: 40px;
    border: solid #FFA62B 1px;
    color: white;
    background: #FFA62B;
    cursor: pointer;   
    font-weight: bolder;
    transition: 1s;
}
.learn {
    padding: 10px 35px;
    line-height: 26px;
    border-radius: 40px;
    border: solid white 1px;
    cursor: pointer;   
    font-weight: bolder;
    transition: 1s;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 57px;
    }
    h4 {
        font-size: 16px;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
        margin-bottom: 100px;
        gap: 20px;
    }
    .nav-buttons {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .navigation {
        display: block;
        margin: auto;
    }
    .cta {
        flex-direction: column;
        align-items: center;
    }
}